.todo-date{
    font-size: 0.85em;
    color : rgb(170, 168, 168);
}

.todo-text{
    color: rgb(0, 0, 116);
    font-size: 0.9em;
}


@media only screen and (max-width: 425px){
	.todo-date{
        font-size: 0.5em;
        color : rgb(170, 168, 168);
    }
}